asgiref==3.8.1
attrs==26.1.0
beautifulsoup4==4.13.4
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2024.2
cssselect2==0.8.0
dj-database-url==3.1.2
Django==5.2.17
django-appconf==1.1.0
django-autoslug==1.9.9
django-ckeditor==6.5.1
django-cors-headers==4.9.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==24.3
django-imagekit==5.0.0
django-js-asset==3.1.2
django-phonenumber-field==8.0.0
django-stubs==6.0.9
django-stubs-ext==6.0.9
django-tables2==2.7.0
djangorestframework==3.18.0
djangorestframework-stubs==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
et_xmlfile==2.0.0
fonttools==4.58.2
gunicorn==26.1.0
idna==3.10
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
openpyxl==3.1.5
phonenumbers==8.13.43
pilkit==3.0
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
PyJWT==2.13.0
pyphen==0.17.2
python-dotenv==1.1.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.3
rpds-py==0.30.0
soupsieve==2.7
sqlparse==0.5.3
tablib==3.6.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.4.1
traceback-with-variables==2.2.0
types-PyYAML==6.0.12.20260815
typing_extensions==4.14.0
uritemplate==4.2.0
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
