{% extends "store/base.html" %} {% block title %}Confirmer la suppression{% endblock %}
{% block content %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Supprimer la vente</legend>
            <h5>Êtes-vous sûr de vouloir supprimer la vente "{{ object.slug }} ?"</h5>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger btn-sm" type="submit">Oui, Supprimer</button>
            <a class="btn btn-outline-success btn-sm" href="{% url 'saleslist' %}">Annuler</a>
        </div>
    </form>
</div>
{% endblock content %}